# Core
SQLAlchemy==2.0.22
pysqlite3-binary==0.4.7
pandas==2.1.0
numpy==1.26.1

# Test / Patch
pytest==8.3.3
pytest-mock==3.12.1

# Dashboard / Visualization
matplotlib==3.8.0
plotly==6.2.0
dash==3.2.0
dash-bootstrap-components==1.4.2

# Notifications / CI-CD
requests==2.31.0
schedule==1.2.0
python-dotenv==1.0.0
slack_sdk==3.23.1

# Analytics / Feedback
scikit-learn==1.3.2
seaborn==0.12.2
jinja2==3.1.3

# Utilities
rich==13.5.4
tqdm==4.66.1
pyyaml>=6.0
